@import "compass/css3";

body {
  background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  background-repeat: no-repeat;
  font-family: 'M PLUS 1p', sans-serif;
}

.main {
  max-width: 700px;
  height: 200vh;
  margin: 0 auto;
}

.numbers {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: 3rem;
  color: #a5d7df;
}

h2 {
  position: relative;
  bottom: 0;
  font-weight: 800;
  font-size: 1.5rem;
  color: #223f6a;
  margin: 50px 0;
  padding-left: 4.85rem;
  width: fit-content;
}

h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  padding-right: 70px;
  height: 10px;
  background: repeating-linear-gradient(-45deg, #a5d7df, #a5d7df 2px, #fff 2px, #fff 4px);
  z-index: -1;
}

.hamburgers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.btn-trigger {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 3;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #223f6a;
  border-radius: 4px;
}
.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 10px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* btn01 */
#btn01.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#btn01.active span:nth-of-type(2) {
  opacity: 0;
}
#btn01.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* btn02 */
#btn02.active {
  transform: rotate(360deg);
}
#btn02.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#btn02.active span:nth-of-type(2) {
  transform: rotate(45deg);
}
#btn02.active span:nth-of-type(3) {
  opacity: 0;
}

/* btn03 */
#btn03.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#btn03.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-btn03-bar02 0.8s forwards;
}
@keyframes active-btn03-bar02 {
  100% {
    height: 0;
  }
}
#btn03.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* btn04 */
#btn04 span:nth-of-type(1) {
  animation: btn04-bar01 0.5s forwards;
}
@keyframes btn04-bar01 {
  0% {
    transform: translateY(10px) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#btn04 span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
#btn04 span:nth-of-type(3) {
  animation: btn04-bar03 0.5s forwards;
}
@keyframes btn04-bar03 {
  0% {
    transform: translateY(-10px) rotate(-45deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#btn04.active span:nth-of-type(1) {
  animation: active-btn04-bar01 0.5s forwards;
}
@keyframes active-btn04-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}
#btn04.active span:nth-of-type(2) {
  opacity: 0;
}
#btn04.active span:nth-of-type(3) {
  animation: active-btn04-bar03 0.5s forwards;
}
@keyframes active-btn04-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/* btn05 */
#btn05.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-315deg);
}
#btn05.active span:nth-of-type(2) {
  opacity: 0;
}
#btn05.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(315deg);
}

/* btn06 */
#btn06.active span:nth-of-type(1),
#btn06.active span:nth-of-type(3) {
  width: 13px;
}
#btn06.active span:nth-of-type(1) {
  transform: translate(-2px,6px) rotate(-45deg);
}
#btn06.active span:nth-of-type(3) {
  transform: translate(-2px,-6px) rotate(45deg);
}

/* btn07 */
#btn07.active span:nth-of-type(1),
#btn07.active span:nth-of-type(3) {
  width: 13px;
}
#btn07.active span:nth-of-type(1) {
  transform: translate(18px,6px) rotate(45deg);
}
#btn07.active span:nth-of-type(3) {
  transform: translate(18px,-6px) rotate(-45deg);
}

/* btn08 */
#btn08::after {
  display: block;
  content: '';
  position: absolute;
  top: -19px;
  left: -16px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid #223f6a;
  opacity: 0;
  transition: all 0.5s;
}
#btn08.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}
#btn08.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  animation: active-btn08-bar02 0.5s forwards;
}
@keyframes active-btn08-bar02 {
  100% {
    height: 0;
  }
}
#btn08.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(-45deg);
}
#btn08.active::after {
  border: 4px solid #223f6a;
  opacity: 1;
}

/* btn09 */
#btn09::after {
  display: block;
  content: '';
  position: absolute;
  top: -19px;
  left: -16px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all 0.75s;
}
#btn09.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}
#btn09.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  animation: active-btn09-bar02 0.8s forwards;
}
@keyframes active-btn09-bar02 {
  100% {
    height: 0;
  }
}
#btn09.active span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}
#btn09.active::after {
  animation: active-btn09 0.7s 0.25s forwards;
}
@keyframes active-btn09 {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #223f6a transparent transparent;
  }
  50% {
    border-color: transparent #223f6a #223f6a transparent;
  }
  75% {
    border-color: transparent #223f6a #223f6a #223f6a;
  }
  100% {
    border-color: #223f6a;
    transform: rotate(-680deg);
  }
}

.nav-container {
  display: block;
  position: fixed;
  top: 0;
  left: -15vw;
  bottom: 0;
  width: 15vw;
  background: #182450;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.nav-container.open {
  left: 0;
  opacity: 0.8;
}
.nav-container {
  padding: 25px;
}
.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-container ul li {
  position: relative;
  margin: 0;
}
.nav-container ul li a {
  display: flex;
  position: relative;
  color: #a5d7df;
  padding: 40px 20px 8px 10px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}
.nav-container ul li a::after {
  position: absolute;
  content: '';
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #a5d7df;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.nav-container ul li a:hover::after {
  transform: scale(1, 1);
}
.nav-container {
  left: -15vw;
  width: 15vw;
}

.btn-hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
  align-items: center;
}

.btns {
  font-weight: 500;
  padding: 10px 30px;
  background: #b9e4eb;
  text-decoration: none;
  color: #223f6a;
}

/* btn-fade */
.btn-fade {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
}
.btn-fade:hover {
  background-color: #223f6a;
  color: #b9e4eb;
}

/* btn-fade02 */
.btn-fade02 {
  background-color: #223f6a;
  border: 2px solid #223f6a;
  color: #b9e4eb;
}
.btn-fade02:hover {
  background-color: #ffffff;
  border-color: #223f6a;
  color: #223f6a;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
}

/* btn-sweep-to-right */
.btn-sweep-to-right {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
.btn-sweep-to-right::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #223f6a;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.btn-sweep-to-right:hover {
  color: #b9e4eb;
}
.btn-sweep-to-right:hover::before {
  transform: scale(1, 1);
}

/* btn04 */
.btn04-area {
  padding: 30px 10px;
  text-align: center;
}
.btn04 {
  display: inline-block;
  position: relative;
  line-height: 1.5;
  transition: 0.3s;
  text-align: center;
  vertical-align: middle;
  box-sizing: inherit;
}
.btn04::before {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  content: '';
  transition: all 0.3s ease;
  border: 3px solid #223f6a;
  box-sizing: inherit;
}
.btn04:hover::before {
  box-sizing: inherit;
  top: 0;
  left: 0;
}
.btn04-shadow {
  padding: calc(1.5rem - 16px) 3rem 1.5rem;
}
.btn04-shadow:hover {
  padding: calc(1.5rem - 8px) 3rem;
}


.container{
  background-color: #000;
  width: 100%;
}

.glitch {/*基本*/
  color: white;
  font-size: 64px;
  position: relative;
  margin-top: 15px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes noise {/*グリッチの動きを設定*/
  0% {/*上、右、下、左の順*/
    clip: rect(0px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(82px, 9999px, 120px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 35px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 49px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 64px, 0);
  }
  35% {
    clip: rect(69px, 9999px, 31px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 35px, 0);
  }
  50% {
    clip: rect(15px, 9999px, 26px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 200px, 0);
  }
  60% {
    clip: rect(54px, 9999px, 30px, 0);
  }
  65% {
    clip: rect(86px, 9999px, 90px, 0);
  }
  70% {
    clip: rect(38px, 9999px, 65px, 0);
  }
  75% {
    clip: rect(41px, 9999px, 90px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 12px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 150px, 0);
  }
  95% {
    clip: rect(50px, 9999px, 50px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 100px, 0);
  }
}
.glitch::after {/*疑似要素を加える*/
  text-align: center;
  content: attr(data-text);
  position: absolute;
  left: 10px;
  text-shadow: 5px 0 red;
  top: 0;
  color:gray;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise 2s alternate-reverse;
}

@keyframes noise2{/*ノイズ用アニメーション*/
  0% {
    clip: rect(30px, 9999px, 13px, 0);
  }
  5% {
    clip: rect(74px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  15% {
    clip: rect(64px, 9999px, 999px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 49px, 0);
  }
  30% {
    clip: rect(63px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 57px, 0);
  }
  45% {
    clip: rect(4px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(4px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 25px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 999px, 0);
  }
  65% {
    clip: rect(31px, 9999px, 10px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 999px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 15px, 0);
  }
  85% {
    clip: rect(68px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(10px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(0px, 9999px, 59px, 0);
  }
  100% {
    clip: rect(10px, 9999px, 999px, 0);
  }
}
.glitch::before {
  text-align: center;
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 5px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise2 3s linear alternate-reverse;
}

.block {
  margin: 70px auto 0;
}

.block p {
  position: relative;
  font-size: 100px;
  text-align: center;
  color: #caaaff;
}

.block p span {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.block.active  p span {
  opacity: 1;
  animation: anime_origin 0.3s 1 alternate-reverse 1s;
}

@keyframes anime {
  0% {
    left: -10px;
    clip: rect(10px, 9999px, 63px, 0);
  }
  4% {
    clip: rect(137px, 9999px, 150px, 0);
  }
  8% {
    clip: rect(82px, 9999px, 178px, 0);
  }
  12% {
    left: -2px;
    clip: rect(85px, 9999px, 125px, 0);
  }
  16% {
    clip: rect(223px, 9999px, 258px, 0);
  }
  20% {
    left: 10px;
    clip: rect(100px, 9999px, 146px, 0);
  }
  24% {
    clip: rect(41px, 9999px, 72px, 0);
  }
  28% {
    clip: rect(9px, 9999px, 45px, 0);
  }
  32% {
    clip: rect(136px, 9999px, 164px, 0);
    filter: hue-rotate(-180deg);
  }
  36% {
    left: -9px;
    clip: rect(84px, 9999px, 116px, 0);
  }
  40% {
    top: 7px;
    clip: rect(229px, 9999px, 315px, 0);
  }
  44% {
    clip: rect(37px, 9999px, 73px, 0);
  }
  48% {
    clip: rect(163px, 9999px, 180px, 0);
  }
  52% {
    clip: rect(205px, 9999px, 244px, 0);
  }
  56% {
    left: 6px;
    clip: rect(135px, 9999px, 170px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 100px, 0);
  }
  64% {
    left: -2px;
    clip: rect(116px, 9999px, 129px, 0);
  }
  68% {
    clip: rect(37px, 9999px, 69px, 0);
  }
  72% {
    top: -9px;
    clip: rect(232px, 9999px, 264px, 0);
  }
  76% {
    left: -8px;
    clip: rect(100px, 9999px, 196px, 0);
    filter: hue-rotate(35deg);
  }
  80% {
    clip: rect(199px, 9999px, 245px, 0);
  }
  84% {
    clip: rect(37px, 9999px, 73px, 0);
  }
  88% {
    left: -10px;
    clip: rect(1px, 9999px, 296px, 0);
  }
  92% {
    clip: rect(141px, 9999px, 272px, 0);
  }
  96% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(137px, 9999px, 273px, 0);
  }
}

@keyframes anime_origin {
  0% {
    left: -10px;
    clip: rect(10px, 9999px, 63px, 0);
  }
  4% {
    clip: rect(137px, 9999px, 150px, 0);
  }
  8% {
    clip: rect(82px, 9999px, 178px, 0);
  }
  12% {
    left: -2px;
    clip: rect(85px, 9999px, 125px, 0);
  }
  16% {
    clip: rect(223px, 9999px, 258px, 0);
  }
  20% {
    left: 10px;
    clip: rect(100px, 9999px, 146px, 0);
  }
  24% {
    clip: rect(41px, 9999px, 72px, 0);
  }
  28% {
    clip: rect(9px, 9999px, 45px, 0);
  }
  32% {
    clip: rect(136px, 9999px, 164px, 0);
    filter: hue-rotate(-25deg);
  }
  36% {
    left: -9px;
    clip: rect(84px, 9999px, 116px, 0);
  }
  40% {
    top: 7px;
    clip: rect(229px, 9999px, 315px, 0);
  }
  44% {
    clip: rect(37px, 9999px, 73px, 0);
  }
  48% {
    clip: rect(163px, 9999px, 180px, 0);
  }
  52% {
    clip: rect(205px, 9999px, 244px, 0);
  }
  56% {
    left: 6px;
    clip: rect(135px, 9999px, 170px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 100px, 0);
  }
  64% {
    left: -2px;
    clip: rect(116px, 9999px, 129px, 0);
  }
  68% {
    clip: rect(37px, 9999px, 69px, 0);
  }
  72% {
    top: -9px;
    clip: rect(232px, 9999px, 264px, 0);
  }
  76% {
    left: -8px;
    clip: rect(100px, 9999px, 196px, 0);
    filter: hue-rotate(35deg);
  }
  80% {
    clip: rect(199px, 9999px, 245px, 0);
  }
  84% {
    clip: rect(37px, 9999px, 73px, 0);
  }
  88% {
    left: -10px;
    clip: rect(1px, 9999px, 296px, 0);
  }
  92% {
    clip: rect(141px, 9999px, 272px, 0);
  }
  96% {
    clip: rect(33px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(137px, 9999px, 273px, 0);
  }
}

.line_txt {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 0;
  opacity: 0;
  animation: appear 0.4s forwards;
}

.line_bar {
  display: block;
  width: 225px;
  position: relative;
  top: 50px;
  height: 40px;
  background: #333;
  animation: SlideIn 0.5s forwards;
}

@keyframes SlideIn {
	0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

@keyframes appear {
	0% {
		opacity: 0;
	}
  50%{
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}
